---
import { translations, type Locale } from "../../i18n/translations";
import "./Footer.css";

interface Props {
  lang?: Locale;
}

const { lang = "es" } = Astro.props;
const copy = translations[lang].footer;
---

<footer class="site-footer">
  <p>© {new Date().getFullYear()} {copy.copyright}</p>
  <a href="mailto:dyogho14@gmail.com">dyogho14@gmail.com</a>
</footer>
